header.header
    .header__wrapper
        .header__column
            a(href=router.home)
                i.fab.fa-youtube
        .header__column
            form(action=router.search, method="get")
                input(type="text", placeholder="Search by term...", name="term")
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=router.join) Join
                    li
                        a(href=router.login) Log In
                else 
                    li
                        a(href=`/videos${router.upload}`) Upload
                    li
                        a(href=router.me) Profile
                    li
                        a(href=router.logout) Log Out