extends layouts/main

block content
    .form-container
        form(action=routers.editProfile, method="post")
            label(for="avatar") Avatar
            input(type="file",id="avatar",name="avatar", required=true)
            input(type="text",placeholder="Name",name="name", required=true)
            input(type="text",placeholder="Email",name="email", required=true)
            input(type="submit",value="update Profile", required=true)
        a.form-container__link(href=routers.changePassword) Change Password
